{{define "index.html"}}
<html>
    {{ template "header.html" }}
    <body>
        {{template "common_header.html"}}
        <script>
            function sendDelete(event,href) {
                var xttp=new XMLHttpRequest();
                event.preventDefault();
                xttp.onreadystatechange=function(){
                    // return if not ready state ->4
                    if(this.readyState!==4){
                        return;
                    }
                    if(this.readyState===4){
                        // Redirect the page
                        window.location.replace(this.responseURL);
                    }
                }
                xttp.open("DELETE",href,true);
                xttp.send();
              }
        </script>
        {{range .tags}}
        <p class="pra">
            <span class="tags">Title: {{.Title}}</span>
            <h4>Description: {{.Description}}</h4>
            <h4>{{.Status}}</h4>
            <a class="edit" href="/tags/update/{{.Id}}">Edit</a>
            <a class="delete" href="/tags/{{.Id}}"
                onclick="sendDelete(event,this.href)">Delete</a>

        </p>
        {{end}}
        {{ template "footer.html" }}
    </body>
</html>
{{end}}